doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    div
      table
        thead
          tr
            th Name
            th Vegan?
            th Brewed in Country
        tbody
          each alcohol in alcohols
            tr
              td #{alcohol.name}
              td #{alcohol.isVegan}
              td #{alcohol.country}
