doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/stylesheet.css')
    link(rel='stylesheet', href='/stylesheets/skeleton.css')

  body
    block content
    div.container
      div.row
        table
          thead
            tr
              th Name
              th Vegan?
              th Brewed in Country
          tbody
            each alcohol in alcohols
              tr
                td #{alcohol.name}
                td #{alcohol.isVegan}
                td #{alcohol.country}
